<header>
  <a><img alt="サイトロゴ画像" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png"></a>
  <span class="menu">メニュー</span>
  <ul class="menu_ul">
    <li class="menu_li"><%= link_to 'ルーム登録', :new_room %></li>
    <li class="menu_li"><a href="#">予約済みルーム一覧</a></li>
    <li class="menu_li"><a href="#">登録済みルーム一覧</a></li>
    <li class="menu_li"><a href="#">設定</a></li>
    <li class="menu_li"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete%></li>
  </ul>

</header>
 <h3>ルーム情報登録new</h3>
 <%= form_with model: @room do |f| %>
   <table>
     <tr>
       <th><%= f.label :roomName, "ルーム名" %></th>
       <td><%= f.text_field :roomName, class:"room-name" %></td>
     </tr>
     <tr>
       <th><%= f.label :roomIntroduction, "ルーム紹介" %></th>
       <td><%= f.text_area :roomIntroduction, class:"room-introduction" %></td>
     </tr>
     <tr>
       <th><%= f.label :roomMoney, "料金" %></th>
       <td><%= f.number_field :roomMoney, class:"room-money" %></td>
     </tr>
     <tr>
       <th><%= f.label :roomAddress, "住所" %></th>
       <td><%= f.text_field :roomAddress, class:"room-address" %></td>
     </tr>
     <tr>
       <th><%= f.label :image, "ルーム画像" %></th>
			 <td><%= f.file_field :image, accept: "image/*" %></td>
     </tr>
   </table>
   <div>
     <ul>
       <li><%= f.submit "投稿を完了する"%></li>
     </ul>
   </div>
 <% end %>



